# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL='http://localhost:3000'
# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# openssl rand -base64 32
# -----------------------------------------------------------------------------
NEXTAUTH_URL='http://localhost:3000'
NEXTAUTH_SECRET='1'

GITHUB_CLIENT_ID='1'
GITHUB_CLIENT_SECRET='1'

# -----------------------------------------------------------------------------
# Email (RESEND)
# -----------------------------------------------------------------------------
RESEND_API_KEY='1'
RESEND_FROM='1'

# -----------------------------------------------------------------------------
# Subscriptions (Stripe)
# -----------------------------------------------------------------------------
# Stripe
STRIPE_API_KEY="1"
STRIPE_WEBHOOK_SECRET="1"
NEXT_PUBLIC_STRIPE_STD_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_STD_MONTHLY_PRICE_ID="price_"

NEXT_PUBLIC_STRIPE_PRO_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_PRODUCT_ID="prod_"
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PRICE_ID="price_"
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PRICE_ID="price_"

# posthog
NEXT_PUBLIC_POSTHOG_KEY=" "
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# admin account
ADMIN_EMAIL="admin@saasfly.io,root@saasfly.io"

# next auth debug
IS_DEBUG=false

DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiY2YzZWUwNzktZjg3OS00NTJiLWJjZWQtMGExZmQ0NjkyNDU4IiwidGVuYW50X2lkIjoiNmFlYjYzOWIyMTEzOTgxZTZhNTc5MjVmNDU4MDIxN2U2YjEzMzliNWE5NjU0YjJhZDc2ZDUxYjcwMGMwOTU1NyIsImludGVybmFsX3NlY3JldCI6ImY0MzI0Y2RkLTFiMDYtNGMyZS05MTUzLTNmMzcxYjJiOWIzYyJ9.vlRZrdK42PPNs8bK-v5ToJX6csVD571C0WI9Kcxl1cs"
PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiY2YzZWUwNzktZjg3OS00NTJiLWJjZWQtMGExZmQ0NjkyNDU4IiwidGVuYW50X2lkIjoiNmFlYjYzOWIyMTEzOTgxZTZhNTc5MjVmNDU4MDIxN2U2YjEzMzliNWE5NjU0YjJhZDc2ZDUxYjcwMGMwOTU1NyIsImludGVybmFsX3NlY3JldCI6ImY0MzI0Y2RkLTFiMDYtNGMyZS05MTUzLTNmMzcxYjJiOWIzYyJ9.vlRZrdK42PPNs8bK-v5ToJX6csVD571C0WI9Kcxl1cs"